.content__block {
    // bottom: 0;
    // left: 0;
    // right: 0;
    // margin: 0.3rem 1rem 0 1rem;
}

.alert-container {
    position: absolute;
    z-index: 2;
    padding: 0.3rem 0.3rem;
    width: 100%;
}