<app-alert></app-alert>

<div class="row mt-5">
    <div class="card col-md-9 mx-auto ">
        <div class="card-header hh">
            <div>
                <h5>Server management</h5>
            </div>

            <!-- top btns -->
            <div class="btnSpacing">
                <div>
                    <select class="form-select" [(ngModel)]="filterStatus"><!-- using custom pipe  : WORKING 100% -->
                        <!-- <select class="form-select" [(ngModel)]="filterStatus" (ngModelChange)="filterServers($event)"> -->
                        <!-- using filter observable : WORKING 100% -->
                        <!-- <select class="form-select" (change)="filterServers($event)"> -->
                        <option value="ALL" selected>ALL</option>
                        <option value="SERVER_UP">SERVER UP</option>
                        <option value="SERVER_DOWN">SERVER DOWN</option>
                    </select>
                </div>

                <button type="button" class="btn btn-primary ml-2" data-bs-toggle="modal"
                    data-bs-target="#addNewServerModal"><i class="fa-solid fa-plus"></i>
                    &nbsp;New server
                </button>

                <button type="button" class="btn btn-warning ml-2">Print report</button>

                <div id="liveAlertPlaceholder"></div>
                <button type="button" class="btn btn-success" (click)="alertS.success('Success live alert OK !')">
                    live alert
                </button>

                <button type="button" class="btn btn-danger" (click)="alertS.danger('Danger live alert OK !')">
                    live alert 2
                </button>

            </div>
        </div>
        <div class="card-body text-center mt-3">
            <!-- global container -->
            <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">

                <!-- loading state container -->
                <ng-container *ngSwitchCase="dataStates.LOADING_STATE">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </ng-container>

                <!-- loaded state container -->
                <ng-container *ngSwitchCase="dataStates.LOADED_STATE">

                    <!-- {{appState.appData.data.servers | json}} -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Image</th>
                                <th scope="col">Ip Address</th>
                                <th scope="col">Name</th>
                                <th scope="col">Memory</th>
                                <th scope="col">Type</th>
                                <th scope="col">Status</th>
                                <th scope="col">Ping</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let server of appState.appData.data.servers | filterByStatus:filterStatus; let i = index">
                                <th scope="row">#{{server.id}} </th>
                                <td> <img [src]="server.imageUrl" [alt]="server.name" width="30" height="30"> </td>
                                <td>{{server.ipAddress}}</td>
                                <td>{{server.name}}</td>
                                <td>{{server.memory}}</td>
                                <td>{{server.type}}</td>
                                <td>
                                    <span class="badge"
                                        [ngClass]="[server.status == Statuses.SERVER_DOWN ? 'bg-danger': 'bg-success ']">
                                        {{(server.status===Statuses.SERVER_DOWN)?'SERVER DOWN': 'SERVER UP'}}
                                    </span>
                                </td>
                                <td>
                                    <a *ngIf="(pinging$ | async) !== server.ipAddress" href="javascript:"
                                        (click)="pingServer(server.ipAddress)"><i
                                            class="fa-solid fa-satellite-dish"></i></a>
                                    <div *ngIf="(pinging$ | async) == server.ipAddress" class="spinner-grow"
                                        role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </td>
                                <td><i class="fa-solid fa-trash text-danger"></i></td>
                            </tr>

                        </tbody>
                    </table>

                </ng-container>

                <!-- error state container -->
                <ng-container *ngSwitchCase="dataStates.ERROR_STATE">
                    <div class="alert alert-danger d-flex items-center gap-3" role="alert">
                        <div><i class="fa-solid fa-triangle-exclamation"></i> </div>
                        <div>Erreur [0] lors de la récupération des informations</div>
                    </div>
                </ng-container>

                <!-- other state container -->
                <ng-container *ngSwitchDefault>STATE UNKNOWN</ng-container>


            </ng-container>

        </div>
    </div>
</div>

<!-- What have I implemented in this Project -->
<div class="row mt-5">
    <div class="col-md-9 mx-auto ">
        <div class=""><h5>WHAT IS IMPLEMENTED IN THIS PROJECT ?</h5></div>
        
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Accordion Item #1
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the
                        collapse plugin adds the appropriate classes that we use to style each element. These classes
                        control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                        modify any of this with custom CSS or overriding our default variables. It's also worth noting
                        that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                        does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Accordion Item #2
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the
                        collapse plugin adds the appropriate classes that we use to style each element. These classes
                        control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                        modify any of this with custom CSS or overriding our default variables. It's also worth noting
                        that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                        does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Accordion Item #3
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                        collapse plugin adds the appropriate classes that we use to style each element. These classes
                        control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                        modify any of this with custom CSS or overriding our default variables. It's also worth noting
                        that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                        does limit overflow.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<!-- Modal for adding new servers -->
<div class="modal fade" id="addNewServerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                new server form here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addNewServer()">Save changes</button>
            </div>
        </div>
    </div>
</div>